<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Longevity</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <a href="/"><img class="logo" src="/assets/longevity-logo.png" alt=""></a>
    <!-- Navbar -->
    {{#if loggedIn}}
    <nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
      <div class="px-6 w-full flex flex-wrap items-center justify-between">
        <div class="flex items-center">
          <button
            class="navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2"
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentY"
            aria-controls="navbarSupportedContentY" aria-expanded="false" aria-label="Toggle navigation"
            id="hamburger-btn">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
              </path>
            </svg>
          </button>
        </div>

    </nav>
    <!-- Navbar -->

    <div class="navbar-collapse collapse grow items-center" id="navbarSupportedContentY">

      
      <ul class="navbar-nav mr-auto lg:flex lg:flex-row sm:hidden " id="navbar-ul">

        <li class="nav-item">
          <button
            class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            id="profile" data-mdb-ripple="true" data-mdb-ripple-color="light">My Profile</button>
        </li>
        <li class="nav-item">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            id="Build" href="/builder" data-mdb-ripple="true" data-mdb-ripple-color="light">Discover Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            id="History" href="/workout-history" data-mdb-ripple="true" data-mdb-ripple-color="light">Workout
            History</a>
        </li>
        <li class="nav-item mb-2 lg:mb-0">
          <a class="nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out"
            id="signout" href="/" data-mdb-ripple="true" data-mdb-ripple-color="light">Sign Out</a>
        </li>
      </ul>
      {{/if}}
    </div>
    </div>
    </nav>
    <!-- Navbar -->
  </header>
  <div style = "background: #D3D3D3">
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    <div class="modal" id="errorModal">
      <div class="modal-content">
        <div class="modal-header">
          <span id=:"closeModal" class="close-modal">&times;</span>
          <h2>Error</h2>
        </div>
        <div id= class="modal-body">
          <p id="modal-body"></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" id="closeModal">Close</button>
        </div>
      </div>
    </div>
    {{{ body }}}
    <script src="/js/signup.js"></script>
    <script src="/js/exercises.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/edit-profile.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/forgot-password.js"></script>
    <script src="/js/builder.js"></script>
    <script src="/js/reset.js"></script>
  </main>
  <footer>

  </footer>
  </div>
</body>

</html>