<!DOCTYPE html>
<html lang="en"><head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Longevity</title>


    <link href="/workout-tracker/public/css/custom.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    
</head>

<body>
	<!-- Header -->
    <header>

  <!-- Jumbotron -->
  <div class="text-center bg-gray-50 text-gray-800 py-20 px-6">
    <h1 class="text-5xl font-bold mt-0 mb-6">longevity-logo</h1>
    <h3 class="text-3xl font-bold mb-8">Join us in building a better you.</h3>
    <a class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Start your journey.</a>
  </div>

  <div class="header-content">
    <div class="header-content-inner">
       <h1>Longevity.</h1>
        <a href="#" class="btn btn-primary btn-lg">Ready to Workout</a>
    </div>
  </div>

	<!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
                    <p class="text-light">Our purpose can be summed up in one word, "Longevity". We are here to create a longer, healthier, more fulfilled life. At Longevity
                        we believe the first step to a longer and happier life is fitness and we want to help you on your journey. Wether its your first time 
                        in the gym or you're a world class powerlifter, we want to help you manage and find workouts that will help you attain the goals you have
                        set for yourself.</p>
                </div>
            </div>
        </div>
    </section>

	<div class="container-fluid">
        <div class="row promo">
        	<a href="#">
				<div class="col-md-4 promo-item item-1">
					<h3>
						feel good.
					</h3>
				</div>
            </a>
            <a href="#">
				<div class="col-md-4 promo-item item-2">
					<h3>
						look good.
					</h3>
				</div>
            </a>
			
			<a href="#">
				<div class="col-md-4 promo-item item-3">
					<h3>
						for life.
					</h3>
				</div>
            </a>
        </div>
    </div>


	<!-- Footer -->
    <footer class="page-footer">
    
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Made with love</p>
        	</div>
        </div>
        
    </footer>


</body></html>
