<button id="edit-profile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full justfiy-center">Edit Profile</button>
<div class="container mx-auto my-5 p-5">
    <div class="md:flex no-wrap md:-mx-2 ">
         <!-- Left Side -->
        <div class="w-full md:w-3/12 md:mx-2">
            <!-- Profile Card -->
            <div class="bg-white p-3 border-t-4 border-green-400">
                <div class="image overflow-hidden">
                    <img class="h-auto w-full mx-auto"
                        src="https://lavinephotography.com.au/wp-content/uploads/2017/01/PROFILE-Photography-112.jpg"
                        alt="">
                </div>
                <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">Jane Doe</h1>
                <h3 class="text-gray-600 font-lg text-semibold leading-6">Gym Warrior</h3>
                <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">My Goal is to figure out how much I weigh in modern day units.</p>
                <ul
                    class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                    <li class="flex items-center py-3">
                        <span>Status</span>
                        <span class="ml-auto"><span
                                class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span></span>
                    </li>
                    <li class="flex items-center py-3">
                        <span>Member since</span>
                        <span class="ml-auto">Nov 07, 2016</span>
                    </li>
                </ul>
            </div>
            <!-- End of profile card -->
            <div class="my-4"></div>
            <!-- Friends card -->
            <div class="bg-white p-3 hover:shadow">
                <div class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8">
                    <span class="text-green-500">
                        <svg class="h-5 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </span>
                    <span>Your Friends</span>
                </div>
                <div class="grid grid-cols-3">
                    <div class="text-center my-2">
                        <img class="h-16 w-16 rounded-full mx-auto"
                            src="https://avatars.githubusercontent.com/u/113260005?v=4"
                            alt="">
                        <a href="#" class="text-main-color">Alexis</a>
                    </div>
                    <div class="text-center my-2">
                        <img class="h-16 w-16 rounded-full mx-auto"
                            src="https://avatars.githubusercontent.com/u/114119193?v=4"
                            alt="">
                        <a href="#" class="text-main-color">Nathaniel</a>
                    </div>
                    <div class="text-center my-2">
                        <img class="h-16 w-16 rounded-full mx-auto"
                            src="https://avatars.githubusercontent.com/u/111908331?s=400&u=b4ed419097d177127a9dda0d8ee19d264572507a&v=4"
                            alt="">
                        <a href="#" class="text-main-color">Dalton</a>
                    </div>
                    <div class="text-center my-2">
                        <img class="h-16 w-16 rounded-full mx-auto"
                            src="https://avatars.githubusercontent.com/u/107882457?v=4"
                            alt="">
                        <a href="#" class="text-main-color">Ali</a>
                    </div>
                </div>
            </div>
            <!-- End of friends card -->
        </div>
        <!-- Right Side -->
        <div class="w-full md:w-9/12 mx-2 h-64">
            <!-- Profile tab -->
            <!-- About Section -->
            <div class="bg-white p-3 shadow-sm rounded-sm">
                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                    <span clas="text-green-500">
                        <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </span>
                    <span class="tracking-wide">About</span>
                </div>
                <div class="text-gray-700">
                    <div class="grid md:grid-cols-2 text-sm">
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">First Name</div>
                            <div class="px-4 py-2">Jane</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Last Name</div>
                            <div class="px-4 py-2">Doe</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Gender</div>
                            <div class="px-4 py-2">Female</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Emergency Contact No.</div>
                            <div class="px-4 py-2">+01189998819991197253</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Current Weight</div>
                            <div class="px-4 py-2">5 Talent</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Height</div>
                            <div class="px-4 py-2">2 Spat</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Email</div>
                            <div class="px-4 py-2">
                                <a class="text-blue-800" href="mailto:jane@example.com">email@example.com</a>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Birthday</div>
                            <div class="px-4 py-2">Feb 06, 1998</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of about section -->
            <div class="my-4"></div>
            <!-- Workout History -->
            <div class="bg-white p-3 shadow-sm rounded-sm">
                <div class="grid grid-cols-2">
                    <div>
                        <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                            <span clas="text-green-500">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                            </span>
                            <span class="tracking-wide">Workout History</span>
                        </div>
                        <ul class="list-inside space-y-2">
                            <li>
                                <div class="text-teal-600"> Back and Biceps</div>
                                <div class="text-gray-500 text-xs">January 1, 2023</div>
                            </li>
                            <li>
                                <div class="text-teal-600">Chest and Triceps</div>
                                <div class="text-gray-500 text-xs">January 3, 2023</div>
                            </li>
                            <li>
                                <div class="text-teal-600">Leg Day</div>
                                <div class="text-gray-500 text-xs">January 5, 2023</div>
                            </li>
                            <li>
                                <div class="text-teal-600">Core Day</div>
                                <div class="text-gray-500 text-xs">January 7,2023</div>
                            </li>
                        </ul>
                    </div>
                <!-- End of Workout History -->
            <!-- End of profile tab -->
        </div>
    </div>
</div>


<div class="modal fixed top-0 left-0 w-full h-full flex items-center justify-center hidden" id="myModal">
  <div class="modal-content bg-white rounded-lg p-10 w-1/2">
    <div class="modal-header text-lg font-medium">
      <span class="close cursor-pointer text-2xl float-right">&times;</span>
      <h2 class="text-3xl">Edit Profile</h2>
    </div>
    <div class="modal-body">
      <form class="w-full max-w-lg">
        <div class="form-group mb-5">
          <label for="imageUrl" class="block text-gray-700 font-medium mb-2">Profile Image URL</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="imageUrl">
        </div>
        <div class="form-group mb-5">
          <label for="firstName" class="block text-gray-700 font-medium mb-2">First Name</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="firstName">
        </div>
        <div class="form-group mb-5">
          <label for="lastName" class="block text-gray-700 font-medium mb-2">Last Name</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="lastName">
        </div>
        <div class="form-group mb-5">
          <label for="nickname" class="block text-gray-700 font-medium mb-2">Nickname</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="nickname">
        </div>
        <div class="form-group mb-5">
          <label for="bio" class="block text-gray-700 font-medium mb-2">Bio</label>
          <textarea class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="bio" rows="3"></textarea>
        </div>
        <div class="form-group mb-5">
          <label for="weight" class="block text-gray-700 font-medium mb-2">Weight</label>
          <input type="number" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="weight">
        </div>
        <div class="form-group mb-5">
          <label for="height" class="block text-gray-700 font-medium mb-2">Height</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="height">
        </div>
        <div class="form-group mb-5">
          <label for="emergencyContact" class="block text-gray-700 font-medium mb-2">Emergency Contact</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="emergency">
        </div>
        <div class="form-group mb-5">
          <label for="birthday" class="block text-gray-700 font-medium mb-2">Birthday</label>
          <input type="text" class="form-control bg-gray-200 border border-gray-400 rounded-lg p-3 w-full" id="birthday">
        </div>
        </form>
        </div>
        <div class="modal-footer">
          <button id="save-profile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
          <button id="close-button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Close</button>
        </div>
    </div>
</div>

