<body>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-black-600">Workout History</h1>
  {{!-- Workout History Cards --}}
    <div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal m-8 shadow-2xl w-1/4">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Abdominals</div>
      <p class="text-gray-700 text-base">Bottoms Up 4 x 12</p>
      <p class="text-gray-700 text-base">Spider Crawl 4 x 12</p>
      <p class="text-gray-700 text-base">Cocoons 4 x 10</p>
      <p class="text-gray-700 text-base">Decline Reverse Crunch 4 x 10</p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://avatars.githubusercontent.com/u/113260005?v=4" alt="Avatar of user">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Alexis Benavidez</p>
        <p class="text-gray-600">Aug 18</p>
      </div>
    </div>
  </div>
</div>

    <div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal m-8 shadow-2xl w-1/4">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Glutes</div>
      <p class="text-gray-700 text-base">Barbell Glute Bridge 3 x 10</p>
      <p class="text-gray-700 text-base">Step-up with Knee Raise 3 x 12</p>
      <p class="text-gray-700 text-base">Kneeling Squat 3 x 10</p>
      <p class="text-gray-700 text-base">Glute Kickback 3 x 12</p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://avatars.githubusercontent.com/u/113260005?v=4" alt="Avatar of user">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Alexis Benavidez</p>
        <p class="text-gray-600">Aug 20</p>
      </div>
    </div>
  </div>
</div>

    <div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal m-8 shadow-2xl w-1/4">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">Arms</div>
      <p class="text-gray-700 text-base">Triceps dip 4 x 10</p>
      <p class="text-gray-700 text-base">Hammer Curls 4 x 12</p>
      <p class="text-gray-700 text-base">EZ-Bar Curls 4 x 10</p>
      <p class="text-gray-700 text-base">Barbell Shrug 4 x 10</p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="https://avatars.githubusercontent.com/u/113260005?v=4" alt="Avatar of user">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Alexis Benavidez</p>
        <p class="text-gray-600">Aug 21</p>
      </div>
    </div>
  </div>
</div>
</body>