.container-fluid {
    max-width: 100%;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;

}

.promo-item:hover {
    background-size: 110%;
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
    vertical-align: middle;
}


.container {
    margin: 0 auto;
    text-align: center;
	}
		
.page-footer .small-print {
	font-weight: 300;
}

.logo {
    max-width: 20%;
    padding-bottom: 1px;
}

/* #font-icon {
    cursor: pointer;
}

#font-icon:hover {
    text-shadow: 2px 3px 15px #B64391;
} */

.modal-body {
  overflow-y: scroll;
  max-height: 70vh;
}